.block-list-appender.wp-block {
    border: 1px solid lightgray;
    padding: 20px;
}

.editor-styles-wrapper.block-editor-writing-flow {
    background: #e8e8e8;
}

.acf-block-preview {
    background: #fafafa;
    padding: 20px;
    min-height: 50px !important;
    color: black;
    font-size: 16px;
    text-align: center;
    border: 1px solid #c1c1c1;
    line-height: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.acf-block-preview:hover {
    background: #3858e961;
    transition: 0.5s;
}

.acf-gallery-sort {
    display: none !important;
}

.column-post_image {
    width: 50px;
}

.column-post_image img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.wp-block-post-content .acf-block-preview img {
    width: 140px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 15px;
    transition: 0.5s;
    transform: scale(3) translate(-80%, -25%);
    opacity: 0;
}

.wp-block-post-content .acf-block-preview:hover img {
    z-index: 99;
    transition: 0.5s;
    opacity: 1;
}

.is-sidebar-opened .wp-block-post-content img {
    width: 100px;
}

.acf-block-body .acf-block-preview {
    position: relative;
}

.acf-relationship .list .acf-rel-item .thumbnail img {
    max-width: 100px !important;
    max-height: 100px !important;
    object-fit: cover;
    width: 100px !important;
    height: 100px !important;
}

.acf-relationship .list .acf-rel-item .thumbnail {
    width: 100px !important;
    height: 100px !important;
}

.acf-relationship .list {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 500px !important;
}

.acf-block-component .acf-field-textarea,
.acf-block-component .acf-field-tinymce-heading-editor {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 20px;
    border: 1px solid #ccd0d4;
}
.acf-block-component .acf-fields > .acf-tab-wrap {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccd0d4;
}

.acf-block-component .acf-block-fields{
    padding: 20px;
}

.acf-block-component .acf-tab-group{
    padding: 0 !important;
}

.acf-block-component .acf-field-repeater{
    padding: 0 !important;
    border-top: none !important;
}

.acf-block-component .acf-field-repeater .acf-field-textarea{
    border: none !important;
}

.acf-block-component .acf-tab-wrap{
    overflow: visible;
}

.acf_text_toolbar{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
}


.acf-block-component .acf-field-textarea:before ,
.acf-block-component .acf-field-tinymce-heading-editor:before{
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background: #f9f9f9;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0 1px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
}

.acf-block-component .acf-field-textarea .acf-label {
    float: left;
    width: 20%;
    margin: 0;
}

.acf-block-component .acf-field-tinymce-heading-editor .acf-label {
    float: left;
    width: 20%;
    margin: 0;
}

.acf-block-component .acf-field-textarea .acf-input , 
.acf-block-component .acf-field-tinymce-heading-editor .acf-input{
    width: 100%;
}


.acfe-modal.-small.-open .acfe-modal-wrapper{
    max-width: 40% !important;
    max-height: 60% !important;
}

.acfe-modal.-small.-open{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.acf-field-group{
    border: 1px solid #e1e1e1;
}

.acf-block-component .acf-field-group .acf-label {
    float: left;
    width: 20%;
    margin: 0;
}

.acf-block-component .acf-field-group .acf-input{
    width: 100%;
}

.acf-block-component .acf-field-group:before{
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    background: #f9f9f9;
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 0 1px 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
}

.acf-input .acf-button.button {
    background: #373737 !important;
    color: white !important;
    border: none !important;
    padding: 5px 20px;
}

.acf-input .acf-button.button:hover {
    background: #000000 !important;
    color: white !important;
}

.acf-input {
    padding-left: 6px;
}