.animate-fade{
    opacity: 1 !important;
}

.block-editor-block-list__layout .block-editor-block-list__block{
    max-width: 1360px;
}

.acf-block-body .acf-block-preview{
    overflow: hidden;
   
}

.hero{
    padding: 40px 0;
}

.hero__content {
    text-align: left;
}


html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    text-align: inherit;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: inherit;
}

.wp-block-post-content *{
    font-family: 'Geologica';
}
.wp-block-post-content > p {
    line-height: 2rem;
    font-size: 1rem; 
    font-weight: 500;
    margin-bottom: 20px;
}
.wp-block-post-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}
    
.wp-block-post-content h2 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
}

.wp-block-post-content h3 {
    font-size: 2.125rem; 
    margin-bottom: 20px;
}

.wp-block-post-content h4 {
    font-size: 1.875rem; 
    margin-bottom: 20px;
}

.wp-block-post-content h5 {
    font-size: 1.625rem;
    margin-bottom: 20px;
}

.wp-block-post-content h6 {
    font-size: 1.375rem;
    margin-bottom: 20px;
}

.wp-block-post-content ul {
    list-style: disc;
    padding-left: 15px;
    
}
.wp-block-post-content ol {
    list-style: decimal;
    padding-left: 15px;
}
.wp-block-post-content li{
    margin-bottom: 15px;
    font-size: 1rem;
}

.wp-block-post-content li::marker {
    color: #2046d2;
}

.wp-block-post-content img{
    margin-bottom: 15px;
    width: 100%;
}
    

.credit-mini{
    margin: 50px auto ;
}