.page{
    &__head{
        h1{
            margin-bottom: 60px;
            font-size: 56px;
            line-height: 100%;
        }
        .breadcrumbs{
            display: flex;
            align-items: center;
            color: $blue;
            font-size: 16px;
            gap: 10px;
            margin-bottom: 20px;
            a{
                color: $blue;
                font-size: 16px;
            }
            li{
                color: #5E5E5E;
            }
            svg{
                height: 12px;
                width: 12px;
            }
        }
    }
    &__wrapper{
        margin-top: 70px;
        min-height: 50vh;
    }
}

@media (max-width: 465px) {
    .page{
        &__head{
            h1{
                margin-bottom: 30px;
                font-size: 28px;
                line-height: 100%;
            }
        }
    }
}